body {
    font-family: 'consolas';
    text-align: center;
    background: linear-gradient(to bottom, #001eff78, #2e4bee);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}